<!-- 共通パーツのコード -->
{% comment %} ここナビ追加 公式版のナビ {% endcomment %}
  <nav id="official-nav" class="u-pc_bg__green">

         <!--mega-cont-3 ショップ-->
      <div class="target pc-mega pc-mega-cont-3" style="display:none;"> <b>ショップ</b>
        <div class="mega-inner">
          <div> <a href="https://www.merida.jp/partner/">MERIDA <br>
            PARTNER SHOP</a> <img src="https://www.merida.jp/assets/img/nav-img-mega-mps.jpg?d=202207" alt="" width="194" height="120"> </div>
          <div> <a href="https://www.merida.jp/advisory/">MERIDA <br>
            ADVISORY SHOP</a> <img src="https://www.merida.jp/assets/img/nav-img-mega-mas.jpg?d=202205" alt="SBC湘南藤沢店" width="194" height="120"> </div>
          <!--i<div> <a href="/centre/">MERIDA <br>
            XPERIENCE CENTER</a> <img src="/assets/img/nav-img-mega-mxc.jpg" alt="" width="194" height="120"/> </div>-->
           <div class="w-47"> <a href="/shop/">SHOP</a>
            <dl>
              <dt class="blank">メリダショップ検索</dt>
              <dd> <a href="https://www.merida.jp/shopsearch/mps/search">MERIDA PARTNER SHOP 店検索 </a> </dd>
              <dd> <a href="https://www.merida.jp/shopsearch/mps/search">MERIDA ADVISORY SHOP 店検索 </a> </dd>
              <dd> <a href="https://www.merida.jp/shopsearch/mgd/search">MERIDA GLOBAL DEALER 店検索 </a> </dd>
              <dd> <a href="https://www.merida.jp/shopsearch/merida/search">MERIDA 自転車取扱店検索</a> </dd>
              <dd> <a href="https://www.merida.jp/shopsearch/search/">試乗・展示車検索</a> </dd>
            </dl>
          </div>
        </div>
        <!--inner--> 
      </div>
      <!--//mega-cont-3 ショップ--> 
    <ul class="global-nav">
        <li class="nav00"><a href="https://www.merida.jp/"><b class="f-jp">公式サイト</b>TOP</a> </li>
        <li class="nav00"><a href="https://www.merida.jp/whats/">What's MERIDA</a> </li>
		<!--<li class="nav01 sp"><a href="/archive/merida_2021/" target="_blank">LINE UP 2021</a> </li>-->
        <!--<li class="nav03 sp"><a href="/dbook/2022_merida_pre/book/" target="_blank">DIGITAL CATALOG</a> </li>--> 
        <li class="nav04"> <a href="https://www.merida.jp/movie/">MOVIE</a> </li>
        <li class=""> <a href="https://www.merida.jp/column/">COLUMN</a> </li>
        <li class="nav05 ac"> <a href="https://www.merida.jp/team/">TEAM</a><span> </span>
          <ul>
            <li><a class="f-jp" href="https://www.merida.jp/team/">チーム・レース情報</a></li>
            <li><a class="f-jp" href="https://www.merida.jp/team/team.html">チーム紹介</a> </li>
            <li><a class="f-jp" href="https://www.merida.jp/team/yukiya/">ユキヤ通信</a> </li>
          </ul>
        </li>
        <li class="nav06 ac"> <a href="https://www.merida.jp/event/">EVENT</a><span> </span>
          <ul>
            <li> <a class="f-jp" href="https://www.merida.jp/event/">イベント情報</a> </li>
            <li> <a href="https://www.merida.jp/event/ride/">MERIDA TEST RIDE</a></li>
            <li> <a href="https://www.merida.jp/event/xpress/">XPERIENCE XPRESS</a></li>
            <li> <a href="https://www.merida.jp/centre/">MERIDA XPERIENCE CENTRE</a></li>
          </ul>
        </li>
        <li class="nav08"> <a href="https://www.merida.jp/news/">NEWS</a> </li>
        <li class="nav09"> <a href="https://www.merida.jp/info/">INFO</a> </li>
        <li class="nav13 sp"> <a href="https://www.merida.jp/company/">COMPANY</a> </li>
        {% comment %} <li class="nav10"> <a href="http://shop.merida.jp/" target="_blank">オンラインショップは<br>こちら</a> </li>
        <li class="nav11"> <a href="https://www.merida.jp/x-base/" target="_blank">MERIDA X BASE</a> </li> {% endcomment %}
      </ul>
  </nav>
{% comment %} //ここナビ追加 {% endcomment %}