{% comment %}PICK UPバイク ・Bikeトップでも同様のパーツを使用中 {% endcomment %}
<div class="collection-list-wrapper u-sec-pd">
    <h2 class="u-title-index-h2 u-f-barlow-b u-txt-center">PICK UP BIKE</h2>
    <ul class="collection-list contains-card contains-card--collection contains-card--standard grid grid--2-col-desktop grid--1-col-tablet-down collection-list--2-items collection-list-pickup" id="" role="list">
      <li class="collection-list__item grid__item">
      <a href="/collections/big-trail">
 <img src="{{ 'pickup-img_left.jpg' | asset_url }}" alt="BIG.TRAI" height="375" width="380" loading="lazy">
        <div class="txt-pickup">
          <h3 class="u-f-barlow-b card__heading">BIG.TRAIL<span>TRAIL FUN SIMPLIFIED</span></h3>
        <p class="u-btn u-btn-primary">MORE →</p>
     </div>
     </a>
      </li>
      <li class="collection-list__item grid__item">
      <a href="/collections/one-twenty">
 <img src="{{ 'pickup-img_right.jpg' | asset_url }}" alt="ONE-TWENTY" height="375" width="380" loading="lazy">
        <div class="txt-pickup">
          <h3 class="u-f-barlow-b card__heading">ONE-TWENTY<span>TRAIL PERFORMANCE SIMPLIFIED</span></h3>
        <p class="u-btn u-btn-primary">MORE →</p>
     </div>
     </a>
      </li>
    </ul>
</div>

{% schema %}
{
  "name": "Index Pickup Bike Section",
  "settings": []
}
{% endschema %}